APP_NAME=gofiber-hax
APP_ENV=dev

HTTP_ADDR=:8080

# DB_DRIVER: auto | mongo | mysql | both
DB_DRIVER=auto

# MONGO
MONGO_URI=mongodb://localhost:27017
MONGO_DB=app

# MYSQL
MYSQL_DSN=root:password@tcp(127.0.0.1:3306)/app?parseTime=true
MYSQL_REPLICA_DSN=
MYSQL_AUTO_MIGRATE=false

# Logging
LOG_LEVEL=debug
LOG_FORMAT=pretty

# Auth (protected routes)
AUTH_ENABLED=false
AUTH_TOKEN=
AUTH_HEADER=Authorization
AUTH_SCHEME=Bearer
AUTH_MODE=token

# JWT / Google OAuth (ID token)
# For Google set AUTH_MODE=google and GOOGLE_CLIENT_ID
GOOGLE_CLIENT_ID=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_JWKS_URL=
JWT_JWKS_TTL_SEC=3600
JWT_CLOCK_SKEW_SEC=60
