APP_NAME=gofiber-hax
APP_ENV=dev

FIBER_ADDR=5001
FIBER_HOST=127.0.0.1
FIBER_ALLOW_ORIGINS=*
FIBER_ALLOW_HEADERS=Origin,Content-Type,Accept,Authorization
FIBER_ALLOW_METHODS=GET,POST,PUT,DELETE,OPTIONS

# DB_DRIVER: auto | mongo | mysql | both
DB_DRIVER=mysql

# MONGO
MONGO_URI=
MONGO_USER=admin
MONGO_PASS=
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=example_db

# MYSQL
MYSQL_DSN=root:@tcp(127.0.0.1:3306)/exp_db?parseTime=true
MYSQL_REPLICA_DSN=
MYSQL_AUTO_MIGRATE=true

# Logging
LOG_LEVEL=debug
LOG_FORMAT=pretty

# Common Log Format:
# ${ip} - - [${time}] "${method} ${url} ${protocol}" ${status} ${bytesSent}
HTTP_ACCESS_LOG_FORMAT=${ip} - - [${time}] "${method} ${url} ${protocol}" ${status} ${bytesSent}
HTTP_ACCESS_LOG_TIME_FORMAT=02/Jan/2006:15:04:05 -0700


# ── Auth Core ─────────────────────────
AUTH_ENABLED=true
AUTH_MODE=token         # token | jwt | google
AUTH_HEADER=Authorization
AUTH_SCHEME=Bearer

# ── Mode: token ───────────────────────
AUTH_TOKEN=secret-key-123

# ── Mode: jwt ─────────────────────────
JWT_ISSUER=https://your-provider.com/
JWT_JWKS_URL=https://your-provider.com/.well-known/jwks.json
JWT_AUDIENCE=your-api-name
JWT_JWKS_TTL_SEC=3600
JWT_CLOCK_SKEW_SEC=60

# ── Mode: google ──────────────────────
GOOGLE_CLIENT_ID=123456.apps.googleusercontent.com

# ── JWT Self-Issued ────────────────────
JWT_SECRET=your-super-secret-key        # signing key (HS256)

JWT_ACCESS_TTL_SEC=900                  # access token อายุ 15 นาที
JWT_REFRESH_TTL_SEC=604800              # refresh token อายุ 7 วัน

JWT_ISSUER=gofiber-hax                  # ชื่อ service ของเรา
JWT_AUDIENCE=gofiber-hax-client         # ใครที่จะใช้ token นี้
